* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 350px;
    background: linear-gradient(to bottom, rgb(32, 92, 232) 30%, white 30%);
    border-radius: 20px;
    box-shadow: 0px 0px 8px 4px rgb(195, 197, 197);
    padding: 20px;
    text-align: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-front{
    margin-top: 40px;
    color: red;
    font-size: 40px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-back {
    transform: rotateY(180deg);
}


.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.br {
    width: 130px;
    height: 130px;
    border: 2px solid rgb(32, 92, 232);
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.br img {
    border: 2px solid white;
    width: 126px;
}

h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.social {
    padding: 0px 40px;
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a img {
    width: 55%;
}

.btn {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 10px 0px;
    width: 120px;
    height: 35px;
    background-color: rgb(32, 92, 232);
    border: none;
    border-radius: 30px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(11, 54, 157);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

